*{
    border: 1px solid red;
}

body{
    background-color: #fff;
    font-family: "Roboto",sans-serif;
    margin: 0;
    padding: 0;
}

h2{
    font-family: "Roboto", sans-serif;
}

p{
    font-family: "Roboto Mono Regular", sans-serif;
}

/* Navigation bar */
.navigation{
    padding: auto;
}

.navigation a{
    padding-inline: 10px 10px;
}

#dropbtn{
    background-color: white;
    cursor: pointer;
    padding-inline: 10px 10px;
}

.dropdown{
    padding: 0;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px white;
}

/* Dropdown links */
.dropdown-content a{
    color: black;
    display: block;
}

.dropdown:hover .dropdown-content{
    display: block;
}

/* Overview */
.overview{

}

/* Roadmap */
.roadmap-section{
    display: block;
    background: cyan;
    position: relative;
}

.roadmap-section #roadmap{
    text-align: center;
}

/* FAQ */
.faq-and-media{
    display: block;
    background: #fff;
    position: relative;
}

.faq-section{
    margin-top: 10px;
    margin-right: 50%;
    margin-left: 10%;
}

.faq-section p {
    text-align: left;
}