*{
    border: 1px solid red;
}

body{
    background-color: #fff;
    margin: 0;
    padding: 0;
}

h1, h2{
    font-family: "Roboto", sans-serif;
}

p{
    font-family: "Roboto Mono Regular", sans-serif;
}

span{
    color: red;
    background-color: yellow;
}

/* Navigation bar */
.navigation{
    padding: auto;
    display: block;
    position: relative;
}

.navigation a{
    padding-inline: 10px 10px;
}

#drop{
    cursor: pointer;
}

.dropdown{
    padding: 0;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
}

/* Dropdown links */
.dropdown-content a{
    color: black;
    display: block;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
}

.dropdown:hover .dropdown-content{
    display: block;
    background-color: blue;
}

/* Overview */
.overview{
    background-color: cyan;
    border: 1px solid cyan;
}

.overview-txt{
    margin-right: 10%;
    margin-left: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
}

a #discord-btn{
    background-color: black;
    color: #fff;
    cursor: pointer;
    margin-left: 10%;
}

/* Story */
.story-txt{
    margin-top: 10px;
    margin-right: 50%;
    margin-left: 10%;
}

/* Roadmap */
.roadmap{
    display: block;
    background: cyan;
    border: 1px solid cyan;
}

h1#roadmap{
    text-align: center;
}

.roadmap-content{
    margin-left: 5%;
    margin-right: 5%;
}

.row .column{
    display: inline-block;
    border: 2px solid black;
}

/* FAQ */
.faq-and-media{
    display: block;
    background: #fff;
}

.faq-section{
    margin-top: 10px;
    margin-right: 50%;
    margin-left: 10%;
}

.faq-section p {
    text-align: left;
}

/* Footer */
footer{
    background-color: cyan;
    text-align: center;
    border: 1px solid cyan;
}

footer h1{
    padding: 0;
    margin: 5% 25%;
}

footer p{
    padding: 0;
    margin-left: 25%;
    margin-right: 25%;
}

footer a{
    display: block;
    margin-bottom: 2%;
}

footer button#discord{
    margin: 5%;
}

.footer-social li{
    display: inline-block;
    margin: 1% 0%;
    padding: 0%;
}