/* story page styles */

.cards{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: space-around;
}

.about-us{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin: 100px 50px 50px 50px;
    flex: 2 2 700px;
    justify-content: center;
}

.about-us h1{
    font-size: 60px;
    text-align: center;
    margin-bottom: 25px;
    width: 100%;
}

.about-us > p{
    text-align: center;
    width: 1100px;
    justify-self: center;
}

.info-card{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    flex: 1 1 550px;
    border: 2px solid #000;
    margin: 25px;
    padding: 10px;
}

.info-card img{
    flex: 1 1 300px;
    max-width: 300px;
    max-height: 400px;
}

.info-card svg{
    width: 50px;
    height: 50px;
}

.info-card a{
    grid-column: 2;
    grid-row: 1;
    width: 55px;
    height: 55px;
    border: 1px solid #000;
}

.info-card p{
    grid-column: 1;
    text-align: center;
    padding: 25px;
    flex: 1 300px;
}

.info-container{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    flex: 1 1 400px;
}

.navigation, #menu, #menu a{
    background: #fff;
    color: #000;
}

.logo{
    margin: 25px;
}

#head img{
    height: 100px;
    max-width: 500px;
    flex: 1;
    border-radius: 10px;
}

.hamburger-menu div{
    background: #000;
}

#menu .dropdown-content{
    background: #fff;
}