/* story page styles */

.cards{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: space-around;
}

.info-card{
    flex: 0 1 400px;
    border: 2px solid #000;
    margin: 25px;
}

.info-card img{
    flex: 1 1;
}

.info-card p{
    text-align: center;
}

.navigation, #menu, #menu a{
    background: #fff;
    color: #000;
}

.logo{
    margin: 25px;
}

#head img{
    height: 100px;
    max-width: 500px;
    flex: 1;
    border-radius: 10px;
}

.hamburger-menu div{
    background: #000;
}

#menu .dropdown-content{
    background: #fff;
}