/* Background */

.dark-background{
    background: #fff;
    color: #000;
}

.light-background{
    background: #000;
    color: #fff;
}

/* Navigation bar */

.navigation{
    font-size: 0.8em;
    width: 100%;
    min-height: 200px;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.navigation, #menu, #menu a{
    background: #020050;
    color: #fff;
}

#menu a{
    text-decoration: none;
    margin: 10px;
    display: inline-block;
}

#head img{
    height: 100px;
    width: 500px;
    border-radius: 10px;
}

.hamburger-menu{
    display: none;
}

/* Dropdown button */
#drop{
    cursor: pointer;
    margin: auto;
}

#drop #down-arrow{
    width: 15px;
    height: 15px;
    fill: #fff;
}

#menu .dropdown{
    position: relative;
    display: inline-block;
    margin-inline: 10px;
}

/* Dropdown content (Hidden) */
#menu .dropdown-content{
    display: block;
    position: absolute;
    min-width: 125px;
    background: transparent;
    padding: 10px;
    border-radius: 15px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: 1s ease-in-out;
    box-shadow: 5px 8px 26px 5px rgba(0,180,180,0.5);
}

#menu .dropdown-content a{
    display: block;
    text-align: center;
    width: max-content;
    padding: 5%;
    transition: background 0.5s;
    border-radius: 10px;
    background: transparent;
}

#menu .dropdown-content a .box-arrow-up-right{
    visibility: hidden;
}

#menu .dropdown:hover .dropdown-content{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

#menu .dropdown-content a:hover{
    background: rgba(0, 255, 255, 0.5);
}

#menu .dropdown-content a:hover .box-arrow-up-right{
    visibility: visible;
}

@media screen and (max-width: 1100px) {
    #menu{
        display: flex;
        flex-direction: column;
        position: absolute;
        box-shadow: 0px 25px 26px rgba(0,180,180,0.5);
        border-radius: 10px;
        padding: 20px;
        width: 150px;
        opacity: 0;
        pointer-events: none;
        transform: translateY(-50px);
        transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    }

    .nav-panel.active > .hamburger-menu + #menu{
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
    }

    .hamburger-menu{
        display: flex;
        flex-wrap: wrap;
        margin: 50px 50px 0 50px;
        background: transparent;
        border: transparent;
        border-radius: 10px;
        width: 50px;
        height: 40px;
        transition: 1s;
        cursor: pointer;
    }

    .nav-panel.active > .hamburger-menu,
    .hamburger-menu:hover{
        background: rgba(139, 138, 138, 0.514);
    }

    .hamburger-menu div{
        width: 50px;
        height: 7px;
        background: #000;
        border-radius: 5px;
        pointer-events: none;
    }
    
    #menu .dropdown-content{
        background: #fff;
        box-shadow: 0px 25px 26px rgba(0,180,180,.5);
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
        left: -17px;
    }

    #menu a, #menu p{
        padding: 10px;
    }

    #menu a:hover{
        background: #0ff;
        border-radius: 5px;
        transition: 1s ease-in-out;
    }
}

/* Content body */

.contents{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Intro section */

.intro{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    width: 100%;
    padding: 100px 50px;
}

/* Overview section*/

.overview{
    display: flex;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 1000px;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)),
                url("../assets/images/4426.gif") no-repeat center center / cover;
}

.overview .image{
    flex: 1 350px;
    max-width: 425px;
    margin: 50px;
}

.overview-txt{
    max-width: 950px;
    margin: 50px 50px 100px 50px;
    flex: 1 1 500px;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.overview-txt h1{
    font-size: 60px;
    margin-bottom: 25px;
}

.overview-txt a{
    margin-top: 25px;
}

a #discord-btn{
    background-color: #0ff;
    color: #000;
    font-size: 30px;
    cursor: pointer;
    padding: 8px;
}

/* Story section*/

.story{
    width: 100%;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 900px;
}

.story-txt{
    margin: 100px 50px 100px 50px;
    flex: 2 2 700px;
}

.story-txt h1{
    font-size: 60px;
    text-align: center;
    margin-bottom: 25px;
}

.story-txt a{
    text-decoration: none;
    color: #0ff;
}

.story-txt a:hover{
    color: hsl(180, 100%, 20%)
}

.slider-container{
    margin: 0px 50px 100px 50px;
    display: flex;
    align-items: center;
    justify-content: center; 
    background: transparent;
}
.slider{
    width: 600px;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 600px;
    height: 600px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 100%;
    transition: 2s;
}

.slide img{
    width: 600px;
    height: 600px;
}

/* manual slide navigation */
.manual-navigation{
    position: absolute;
    width: 600px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 3px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 10px;
}

.manual-btn:hover{
    background: #fff;
}

.manual-btn:checked{
    background: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -100%;
}

#radio3:checked ~ .first{
    margin-left: -200%;
}

#radio4:checked ~ .first{
    margin-left: -300%;
}

#radio5:checked ~ .first{
    margin-left: -400%;
}

#radio6:checked ~ .first{
    margin-left: -500%;
}

#radio7:checked ~ .first{
    margin-left: -600%;
}

@media screen and (max-width: 700px) {
    .slider{
        width: 500px;
        height: 500px;
    }
    .slides{
        width: 500px;
        height: 500px;
    }
    .slide{
        width: 100%;
    }
    .slide img{
        width: 500px;
        height: 500px;
    }

    .manual-navigation{
        width: 500px;
    }
}

@media screen and (max-width: 600px) {
    .slider{
        width: 400px;
        height: 400px;
    }
    .slides{
        width: 400px;
        height: 400px;
    }
    .slide{
        width: 100%;
    }
    .slide img{
        width: 400px;
        height: 400px;
    }

    .manual-navigation{
        width: 400px;
    }
}

@media screen and (max-width: 500px) {
    .slider{
        width: 300px;
        height: 300px;
    }
    .slides{
        width: 300px;
        height: 300px;
    }
    .slide{
        width: 100%;
    }
    .slide img{
        width: 300px;
        height: 300px;
    }

    .manual-navigation{
        width: 300px;
    }
}

/* Roadmap section*/

.roadmap{
    display: flex;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 2000px;
}

.roadmap-content{
    margin: 100px 5% 100px 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.table-header{
    font-size: 70px;
    text-align: center;
    margin-bottom: 30px;
}

#development{
    margin-top: 50px;
}

.table-head{
    text-align: center;
    font-size: 50px;
    margin: 15px 25%;
}

table{
    flex: 1 1 700px;
    max-width: 75%;
    margin: auto 12.5%;
}

table, td{
    border: 3px solid #000;
    border-collapse: collapse;
    min-height: 100px;
    padding: 10px 20px;
}

tr{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

td{ 
    line-height: 40px;
}

#development .phase-descrp{
    flex: 1 1 600px;
}

#launch td{
    width: 100%;
}

#launch table{
    margin-bottom: 50px;
}

td.phase{
    display: flex;
    font-weight: 900;
    flex: 1 1 250px;
    font-size: 45px;
    justify-content: center;
    align-items: center;
}

/* FAQ section*/

.faq-and-media{
    display: flex;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    /* min-height: 800px; */
    width: 100%;
    padding: 100px 50px 100px 50px;
}

.faq-section{
    border: 2px solid #fff;
    padding: 20px;
    flex: 1 600px;
    max-width: 750px;
}

.faq-and-media .image{
    margin-left: 100px;
    flex: 1 500px;
    max-width: 600px;
}

@media screen and (max-width: 1250px) {
    .faq-and-media .image{
        margin: auto;
    }
}

.faq-section h1{
    margin-bottom: 50px;
}

.faq-question{
    margin-top: 10px;
    padding: 10px;
}

/* dropdown faq questions */
.odd{background-color: #fff; color: #000 !important;;}

.even{background-color: #0ff; color: #000 !important;}

.question #down-arrow{
    height: 25px;
    width: 25px;
    pointer-events: none;
    transition: transform 0.5s ease-in-out;
    fill: #000;
}

.faq-question.active > .question #down-arrow{
    transform: rotate(180deg);
}

.question{
    cursor: pointer;
}

.answer{
    display: none;
    margin-top: 10px;
    opacity: 0;
    transition: 1s ease-in-out;
    pointer-events: none;
}

.faq-question.active > .question + .answer{
    opacity: 1;
    display: block;
}
/* end */

.faq-section a{
    color: #0ff;
}

.faq-section a:hover{
    color: hsl(180, 100%, 20%)
}

/* Footer */

footer{
    display: flex;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

footer h1{
    margin: 75px 50px 25px 50px;
    text-align: center;
    flex: 1 1;
}

footer p{
    margin: 25px 50px 25px 50px;
    text-align: center;
}

footer a{
    margin: 25px;
}

.bottom-list{
    margin: 0 25px 50px;
}

.bottom-list svg{
    width: 25px;
    height: 25px;
    fill: #000;
}
