*{
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: coder;
    src: url(../assets/fonts/NintendoDSBIOS.ttf) format("woff");
}

body{
    background: white;
    display: block;
    
    margin: 0;
    padding: 0;

    font-family: "coder", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 30px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p{
    line-height: 40px;
}

button{
    font-family: "coder", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

a, a:visited{
    color: black;
}

span{
    color: #0ff;
}

img{
    width: 100%;
}

svg{
    fill: #000;
}