*{
    border: 1px solid red;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: coder;
    src: url(../assets/fonts/PressStart2P-Regular.woff) format("woff");
  }

body{
    background-color: cyan;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    margin: 0;
    padding: 0;
    font-family: "coder", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button{
    font-family: "coder", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

a, a:visited{
    color: black;
}

span{
    color: red;
    background-color: yellow;
}