
/* Navigation bar */

.navigation{
    background-color: aqua;
    font-size: 0.8em;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
}


.navigation a{
    text-decoration: none;
    margin: 5px;
}

.logo{
    float: left;
    margin: 10px;
}

#head img{
    height: 100px;
    width: 200px;
    margin: auto;
}

.nav-panel{
    float: right;
    margin: auto;
    margin-right: 150px;
}
/* Dropdown button */
#drop{
    cursor: pointer;
    margin: auto;
}

.dropdown{
    position: relative;
    display: inline-block;
}

/* Dropdown content (Hidden) */
.dropdown-content{
    display: none;
    position: absolute;
    min-width: 200px;
    background-color: transparent;
    padding: 10px;
    box-shadow: 5px 8px 26px rgba(0,0,0,0.2);
}

.dropdown-content a{
    color: black;
    display: block;
    text-align: center;
    width: max-content;
    padding: 5%;
}

.dropdown-content a .box-arrow-up-right{
    visibility: hidden;
}

.dropdown:hover .dropdown-content{
    display: block;
    background-color: aqua;
}

.dropdown-content a:hover{
    border-radius: 10px;
    border: 1px solid black;
    background-color: #00b1b1;
}

.dropdown-content a:hover .box-arrow-up-right{
    visibility: visible;
}

/* Content body */

.content{
    font-size: larger;
}

/* Overview section*/

.overview{
    background-color: cyan;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 600px;
}

.overview #overview-presi{
    margin: 50px;
    width: 500px;
    height: 500px;
}

.overview-txt{
    max-width: 50%;
    min-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.overview-txt h1{
    margin-bottom: 25px;
}

.overview-txt a{
    margin-top: 25px;
    flex: 0 1 260px;
}

a #discord-btn{
    background-color: black;
    color: #fff;
    cursor: pointer;
    padding: 8px;
}

/* Story section*/

.story{
    padding: 50px 0 50px 0;
    display: flex;
}

.story-txt{
    max-width: 1000px;
}

.slider-container{

    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    background: yellow;
}
.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500px;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 600px;
    height: 500px;
}

/* manual slide navigation */
.manual-navigation{
    position: absolute;
    width: 600px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 10px;
}

.manual-btn:hover{
    background: black;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

/* Roadmap section*/

.roadmap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: cyan;
    padding: 50px 0px 75px 0px;
}

h1#roadmap{
    text-align: center;
}

.roadmap-content{
    margin-left: 5%;
    margin-right: 5%;
}

.phase{
    margin: 25px auto;
}

.table-head{
    text-align: center;
    margin: auto 25%;
}

table{
    flex: 0 0 700px;
    max-width: 1000px;
    margin: auto 18%;
}

table, td{
    border: 3px solid black;
    border-collapse: collapse;
    height: 100px;
    padding: 10px;
}

td.phase{
    font-weight: 900;
    width: 200px;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
}

/* FAQ section*/

.faq-and-media{
    display: block;
    padding: 50px 0 75px 0;
}

.faq-section{
    border: 2px solid black;
    padding: 20px;
    margin-top: 10px;
    margin-right: 50%;
    margin-left: 10%;
}

.faq-section p{
    text-align: left;
}

.faq-section a{
    color: darkblue;
}

/* Footer */

footer{
    background-color: cyan;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 1px;
    width: 100%;
    min-height: 300px;
}

footer h1{
    margin: auto 25%;
}

footer p{
    margin: 25px 25%;
}

footer a{
    margin: auto;
    padding: 10px;
}

footer a button#discord-btn{
    margin: auto;
}

footer button#discord{
    margin: auto;
}
