/* Navigation bar */
.navigation{
    padding: 50px 0 50px 50px;
    background-color: aqua;
    text-align: right;
    padding-right: 5%;
    font-size: x-large;
}

.navigation a{
    padding-inline: 10px 10px;
    text-decoration: none;
}

/* Dropdown button */
#drop{
    cursor: pointer;
    margin: auto;
}

/* Container */
.dropdown{
    position: relative;
    display: inline-block;
}

/* Dropdown content (Hidden) */
.dropdown-content{
    display: none;
    position: absolute;
    background-color: aqua;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside dropdown*/
.dropdown-content a{
    color: black;
    display: block;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
}

.dropdown:hover .dropdown-content{
    display: block;
    background-color: aqua;
}

#main{
    font-size: larger;
}

/* Overview */
.overview{
    background-color: cyan;
    padding: 50px 0 75px 0;
}

.overview-txt{
    margin-right: 10%;
    margin-left: 50%;
}

a #discord-btn{
    background-color: black;
    color: #fff;
    cursor: pointer;
    margin-left: 10%;
}

/* Story */
.story{
    padding: 50px 0 75px 0;
}
.story-txt{
    margin-top: 10px;
    margin-right: 50%;
    margin-left: 10%;
}

/* Roadmap */
.roadmap{
    display: block;
    background: cyan;
    padding: 50px 0px 75px 0px;
}

h1#roadmap{
    text-align: center;
}

.roadmap-content{
    margin-left: 5%;
    margin-right: 5%;
}

div.phase{
    margin: 25px auto;
}

.table-head{
    text-align: center;
    margin: auto 25%;
}

table{
    max-width: 700px;
    margin-left: 18%;
}

table, td{
    border: 3px solid black;
    border-collapse: collapse;
    height: 100px;
    padding: 10px;
}

td.phase{
    font-weight: 900;
    width: 200px;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
}

/* FAQ */
.faq-and-media{
    display: block;
    padding: 50px 0 75px 0;
}

.faq-section{
    margin-top: 10px;
    margin-right: 50%;
    margin-left: 10%;
}

.faq-section p {
    text-align: left;
}

/* Footer */
footer{
    background-color: cyan;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 1px;
}

footer h1{
    margin: auto 25%;
}

footer p{
    margin: 25px 25%;
}

footer a{
    margin: auto;
    padding: 10px;
}

footer a button#discord-btn{
    margin: auto;
}

footer button#discord{
    margin: auto;
}

ul.footer-social{
    padding: 0%;
    margin-left: 25%;
    margin-right: 25%;
}

ul.footer-social li{
    display: inline-block;
    margin: auto;
}
